<!DOCTYPE html>
<html xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>New Article</title>
    </head>
    <body>
        <h1>Create new article</h1>
        <form method="post" th:action="@{/create}" th:object="${article}">
<!--            <p>Id: <input type="text" th:field="${article.id}" /></p>-->
            <p>Title: <input type="text" th:field="*{title}" /></p>
            <p>Content: <textarea id="content" rows="5"
                                  name="content" th:field="*{content}"></textarea></p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>